.idea
venv
weights
runs
*.pt
*.onnx
WIDER_train.zip
WIDER_val.zip
wider_face_split.zip
data/widerface
data/WIDER_train
data/WIDER_val
data/wider_face_split
data/widerface.yaml
widerface/results
widerface/box_overlaps.c
widerface/**/*.so
widerface/**/*.o
